@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:#3a5154;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.Logo{
    color: #d8cdb0;
    text-transform: uppercase;
    font-weight:800;
    font-size: 1.8em;
    cursor: pointer;
}
.nav{
    margin-left: 80px;
}
.nav a{
    color: #d8cdb0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 20px;
}
.nav a:hover{
    color: #e09f48;
    font-weight: 400;
}
.Btn button{
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.Btn button:last-of-type{
    border: 2px solid #b9b0b2;
    background-color: #3a5154;
    color: #d8cdb0;
}
.Btn button:last-of-type:hover{
    border: 2px solid #b9b0b2;
    background-color: #b7673c;
    color: white;
}
.Btn button:first-of-type{
    border: 2px solid #b9b0b2;
    background-color: #b7673c;
    color: white;
}
section{
    padding: 100px 200px;
}
.Login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: rgb(204, 204, 186);
    justify-content: space-between;
}
form{
    width: 50%;
    min-height: 85vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section .lg{
    display: flex;
    align-items: center;
}
section .lg h1{
    text-transform: uppercase;
    font-size: 3.4em;
    font-weight: 900;
    color: #293536;
    display: inline-block;
    margin-bottom: 80px;
}
section .lg h1 span{
    color: #b7673c;
}
.frm{
    margin-left: 7%;
}
#ins{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5em;
    color: #26383a;
    margin-top: 15px;
}
.inf input{
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}
.gnr{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.gnr .hf{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
form input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f5ecee;
}
form input:focus{
    outline: none;
}
form .frm #sb{
    margin-left: 30%;
    margin-top: 30px;
    padding: 10px;
    background-color: #b7673c;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #293536;
}
form .frm #sb:hover{
    background-color: #293536;
    border: 2px solid #b7673c;
}


footer{
    background-color:#3a5154;
    color: #d8cdb0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
footer .Copy span{
    color: #b7673c;
}
footer p{
    display: flex;
    align-items: center;
}
.Plan a{
    color: #d8cdb0;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}